body {
    background-image: url(assets/Background_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

fieldset{
    border: none;
}

.erro{
    font-size: 13px;
    color: rgb(194, 55, 1);
    font-weight: bold;
}

#sectitulo{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#formtitulo{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    word-break: normal;
    background-color: rgb(253, 121, 183);
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.3);
}
#formtitulo p{
    margin: 10px 10px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
#titulo{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.container{
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    width: 400px;
    height: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: rgb(255, 255, 255);
    border-radius: 15px 0px 0px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    box-shadow: 7px 7px rgba(59, 59, 59, 0.712);
}
.container::-webkit-scrollbar{
    background-color: rgb(255, 255, 255);
    width: 8px;
}
.container ::-webkit-scrollbar-thumb{
    background-color: rgb(66, 66, 66);
}
.container::-webkit-scrollbar-thumb{
    background-color: rgb(255, 122, 183);
    border-radius: 10px 0px 0px 10px;
    min-height: 10px;
}

#botaostick {
    position: sticky;
    bottom: -41;
    background: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
}
#enviar{
    padding: 6px 20px;
    background-color: rgb(255, 122, 183);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.589);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-shadow: 0 5px 0 rgba(59, 59, 59, 0.712);
    transition: all 0.1s ease;
}
#enviar:hover{
    cursor: pointer;
    background-color: rgb(255, 137, 192);
    color: rgb(255, 255, 255);
    transform: translateY(3px);
    box-shadow: 0 2px 0 rgba(59, 59, 59, 0.712);
    transition: all 0.1s ease;
}
#enviar:active{
    background-color: rgb(253, 87, 164);
}

input{
    border: 0.7 solid black;
}

#justificativa{
    display: none;
}
#permiteAnimais{
    display: none;
}
#quintalSeguro{
    display: none;
}
#possuirQuintal{
    display: block;
}
.erroAparece{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 184, 157);
}