body{
    background-image: url(assets/Background_image.png);
    background-size: 100%;
    background-position: -30%;
}

fieldset{
    border: none;
}

.erro{
    font-size: 13px;
    color: rgb(194, 55, 1);
    font-weight: bold;
}

#sectitulo{
    display: flex;
    justify-content: center;
    color: rgb(37, 0, 17);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#formtitulo{
    display: flex;;
    justify-content: center;
}

.container{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    width: 400px;
    height: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: rgb(255, 255, 255);
    border-radius: 15px 0px 0px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    box-shadow: 7px 7px rgba(59, 59, 59, 0.712);
}
.container::-webkit-scrollbar{
    background-color: rgb(255, 255, 255);
    width: 8px;
}
.container ::-webkit-scrollbar-thumb{
    background-color: rgb(66, 66, 66);
}
.container::-webkit-scrollbar-thumb{
    background-color: rgb(255, 122, 183);
    border-radius: 10px 0px 0px 10px;
    min-height: 10px;
}

input{
    border: 0.7 solid black;
}

#justificativa{
    display: none;
}
#permiteAnimais{
    display: none;
}
#quintalSeguro{
    display: none;
}
#possuirQuintal{
    display: block;
}
.erroAparece{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 184, 157);
}